<app-navbar></app-navbar>
<div class="container">
    <div class="row">
        <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
            <div class="row">
                <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-4 col-xxl-3">
                    <label for="Name" class="form-control">Name</label>
                    <input type="text" class="form-control">
                </div>
                <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-4 col-xxl-3">
                    <label for="Rollno" class="form-control">Rollno</label>
                    <input type="text" class="form-control">

                </div>
                <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
                    <label for="College name" class="form-control">College Name</label>
                    <input type="text" class="form-control">

                </div>
                <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-4 col-xxl-3">
                    <label for="Admission Number" class="form-control">Admission No</label>
                    <input type="text" class="form-control">

                </div>
               
                <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
                    <label for="Address" class="form-control">Address</label>
                    <textarea name="" id="" cols="30" rows="10"></textarea>
                    

                </div>
                <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-4 col-xxl-3">
                    <label for="Mobile" class="form-control">Mobile number</label>
                    <input type="text" class="form-control">

                </div>
                <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-4 col-xxl-3">
                    <label for="Prent mobile" class="form-control">Parent mobile</label>
                    <input type="text" class="form-control">

                </div>
                <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-4 col-xxl-3">
                    <label for="DOB" class="form-control">DOB</label>
                    <input type="date" name="" id="">
                  

                </div>
                <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-4 col-xxl-3">
                    <label for="Bloodgroup" class="form-control">Bloodgroup</label>
                    <select name="" id="">
                        <option value="A+">A+</option>
                        <option value="B+">B+</option>
                        <option value="AB+">AB+</option>
                        <option value="O+">O+</option>
                        <option value="A-">A-</option>
                        <option value="B-">B-</option>
                        <option value="AB-">AB-</option>
                        <option value="O-">O-</option>
                    </select>
                   

                </div>
                <div  class="col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-4 col-xxl-3">
                    <label for="Email" class="form-control">Email</label>
                    <input type="email" name="" id="">

                </div>
                <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
                    <button class="btn btn-success">Submit</button>
                   

                </div>
            </div>
        </div>
    </div>
</div>